<div class="focus" style="padding: .5em">
  <ul>
    <li><%= link_to "ALL", kind_path(:all) %></li>
    <li><%= link_to "inbox", kind_path(:inbox) %></li>
    <li><%= link_to "projects", kind_path(:project) %></li>
    <li><%= link_to "actions", kind_path(:action) %></li>
    <li><%= link_to "waiting", kind_path(:waiting) %></li>
    <li><%= link_to "maybe", kind_path(:maybe) %></li>
    <li><%= link_to "notes", kind_path(:note) %></li>
    <li><%= link_to "calendar", kind_path(:calendar) %></li>
  </ul>
</div>
