<div class="focus">
  Show:
  <%= link_to "ALL", items_path %>
  | <%= link_to "inbox", items_path(:kind => :inbox) %> (<%= @count[:inbox] %>)
  | <%= link_to "projects", items_path(:kind => :project) %> (<%= @count[:project] %>)
  | <%= link_to "actions", items_path(:kind => :action) %> (<%= @count[:action] %>)
  | <%= link_to "waiting", items_path(:kind => :waiting) %> (<%= @count[:waiting] %>)
  | <%= link_to "maybe", items_path(:kind => :maybe) %> (<%= @count[:maybe] %>)
  | <%= link_to "notes", items_path(:kind => :trivia) %> (<%= @count[:trivia] %>)
  | <%= link_to "calendar", items_path(:kind => :calendar) %> (<%= @count[:calendar] %>)
</div>
