<div class="focus">
  <ul>
    <li><%= link_to "ALL", kind_path(:all) %></li>
    <li><%= link_to "inbox", kind_path(:inbox) %> (<%= @count[:inbox] %>)</li>
    <li><%= link_to "projects", kind_path(:project) %> (<%= @count[:project] %>)</li>
    <li><%= link_to "actions", kind_path(:action) %> (<%= @count[:action] %>)</li>
    <li><%= link_to "waiting", kind_path(:waiting) %> (<%= @count[:waiting] %>)</li>
    <li><%= link_to "maybe", kind_path(:maybe) %> (<%= @count[:maybe] %>)</li>
    <li><%= link_to "notes", kind_path(:note) %> (<%= @count[:note] %>)</li>
    <li><%= link_to "calendar", kind_path(:calendar) %> (<%= @count[:calendar] %>)</li>
  </ul>
</div>
