<div class="focus">
  Show:
  <%= link_to "ALL", kind_path(:all) %>
  | <%= link_to "inbox", kind_path(:inbox) %> (<%= @count[:inbox] %>)
  | <%= link_to "projects", kind_path(:project) %> (<%= @count[:project] %>)
  | <%= link_to "actions", kind_path(:action) %> (<%= @count[:action] %>)
  | <%= link_to "waiting", kind_path(:waiting) %> (<%= @count[:waiting] %>)
  | <%= link_to "maybe", kind_path(:maybe) %> (<%= @count[:maybe] %>)
  | <%= link_to "notes", kind_path(:note) %> (<%= @count[:note] %>)
  | <%= link_to "calendar", kind_path(:calendar) %> (<%= @count[:calendar] %>)
</div>
