<div class="item <%= item.kind %> <%= item.archive ? 'archive' : '' %>" data-id="<%= item.id %>">
  <span class="number hidden">
    <%= item.id %>/<%= item.sort %>
  </span>

  <span class="kind">
    <%= select_tag item.kind, grouped_options_for_select([["Move to:", [["Inbox", "inbox"], ["Project", "project"], ["Next Action", "action"], ["Someday/Maybe", "maybe"], ["Note", "trivia"], ["Calendar", "calendar"]]], ["Other", [["Archive", "do:archive"], ["Unarchive", "do:unarchive"]]]], item.kind) %>
  </span>

  <span class="summary">
    <%= item.summary %>
  </span>

</div>
