<div class="item <%= item.kind %> <%= item.archive ? 'archive' : '' %>" data-id="<%= item.id %>">
  <span class="number hidden">
    <%= item.id %>/<%= item.sort %>
  </span>

  <span class="kind">
    <%= select_tag item.kind, item_options_helper(item) %>
  </span>

  <span class="summary edit"><%= item.summary %></span>

</div>
