<ul class="itemlist">
  <% list.each do |item| %>
  <li class="item" data-id="<%= item.id %>">
    <div class="summary"><%= link_to item.summary, edit_item_path(item) %></div>
    <div class="detail" style="display: none">
      <div class="tools">
        <div>
          file under:
          <%= link_to "projects", "#", :title => "an outcome that requires multiple steps to complete" %>,
          <%= link_to "next action", "#", :title => "this can be acted upon immediately, in one step, and is possibly associated with a larger project" %>,
          <%= link_to "waiting", "#", :title => "something I am waiting for, currently out of my control" %>,
          <%= link_to "remember", "#", :title => "some fact, snippet, or idea that I want to remember.  It is not an action or project" %>,
          <%= link_to "calendar", "#", :title => "time sensitive, schedule this in the calendar" %>,
          <%= link_to "someday", "#", :title => "a project I might want to take on in the future, but not right now" %>
        </div>
      </div>
      <div class="body">
        <%= item.body %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<br />
