<ul class="itemlist">
  <% list.each do |item| %>
  <li class="item" data-id="<%= item.id %>">
    <div class="summary"><%= link_to item.summary, edit_item_path(item) %></div>
    <div class="detail" style="display: none">
      <div class="action">
        File under:
        <%= link_to "projects", "#", :'data-move_to' => "project", :title => "an outcome that requires multiple steps to complete" %>,
        <%= link_to "next action", "#", :'data-move_to' => "action", :title => "this can be acted upon immediately, in one step, and is possibly associated with a larger project" %>,
        <%= link_to "waiting", "#", :'data-move_to' => "waiting", :title => "something I am waiting for, currently out of my control" %>,
        <%= link_to "trivia", "#", :'data-move_to' => "trivia", :title => "some fact, snippet, or idea that I want to remember.  It is not an action or project" %>,
        <%= link_to "calendar", "#", :'data-move_to' => "calendar", :title => "time sensitive, schedule this in the calendar" %>,
        <%= link_to "someday", "#", :'data-move_to' => "someday", :title => "a project I might want to take on in the future, but not right now" %>
      </div>
      <div class="body">
        <%= item.body %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
