<h1>Editing item</h1>

<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :project? %>
    <%= f.check_box :project %>
  </div>
  <div class="field">
    <%= f.label :action? %>
    <%= f.check_box :action %>
  </div>
  <div class="field">
    <%= f.label :waiting? %>
    <%= f.check_box :waiting %>
  </div>
  <div class="field">
    <%= f.label :maybe? %>
    <%= f.check_box :maybe %>
  </div>
  <div class="field">
    <%= f.label :notes %> <br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Destroy', @item, confirm: 'Are you sure?', method: :delete %>

<%= link_to 'Back', items_path %>
