<p id="notice"><%= notice %></p>

<%= render 'form' %>

<div class="inbox list">
  <h2>Inbox</h2>
  <%= render 'list', :list => @inbox %>
</div>
<div class="project list">
  <h2>Projects</h2>
  <%= render 'list', :list => @projects %>
</div>
<div class="action list">
  <h2>Next actions (start here)</h2>
  <%= render 'list', :list => @actions %>
</div>
<div class="waiting list">
  <h2>Waiting for</h2>
  <%= render 'list', :list => @waiting %>
</div>
<div class="maybe list">
  <h2>Someday/Maybe</h2>
  <%= render 'list', :list => @maybe %>
</div>
