<p id="notice"><%= notice %></p>

<%= render 'form' %>

<script>
  $(function() { $( "#tabs" ).tabs(); });
</script>

<div class="demo">

  <div id="tabs">
    <ul>
      <li><a href="#tabs-inbox">Inbox</a></li>
      <li><a href="#tabs-projects">Projects</a></li>
      <li><a href="#tabs-actions">Next Actions</a></li>
      <li><a href="#tabs-waiting">Waiting</a></li>
      <li><a href="#tabs-maybe">Someday/Maybe</a></li>
    </ul>
    <div id="tabs-inbox">
      <%= render 'list', :list => @inbox %>
    </div>
    <div id="tabs-projects">
      <%= render 'list', :list => @projects %>
    </div>
    <div id="tabs-actions">
      <%= render 'list', :list => @actions %>
    </div>
    <div id="tabs-waiting">
      <%= render 'list', :list => @waiting %>
    </div>
    <div id="tabs-maybe">
      <%= render 'list', :list => @maybe %>
    </div>
  </div>

</div>
